<div class="header">

    <div class='jumbotron'>

        <div class="burgerIcon">
        <img class="icon" src="https://png.icons8.com/color/175/000000/hamburger.png" alt="<a href='https://icons8.com'>Icon pack by Icons8</a>">
        </div>
        <h1 class='headerTitle'> Eat The Burgers!</h1>

    </div>



</div>


<div class="containter">
    <div class="burgerDisplay">
        <div class="row">
            <div class="col">

                <div class="availableBurgers">
                    <h2 class="burgerDisplayTextHeader"> Burgers Available</h2>

                      <div class="list-group">

                        {{#each burgers}}
                            {{#unless this.devoured}}

                          

                            <li class="list-group-item list-group-item-warning">

                                    {{this.id}}
                                    {{this.burger_name}}


                                    <button type="button" class="btn btn-warning" data-id="{{this.id}}" data-devoured="{{devoured}}" class="devourButton" id="buttonDevour">Devour</button>

                                </li>
                            {{/unless}}
                        {{/each}}


                </div>
            </div>
          </div>

            <div class="col">
                <div class="devouredBurgers">


                    <h2 class="burgerDisplayTextHeader">Burgers Devoured</h2>

                    <div class="list-group">


                        {{#each burgers}}
                            {{#if this.devoured}}

                              <li class="list-group-item list-group-item-danger">

                                    {{this.id}}
                                    {{this.burger_name}}
                                </li>
                            {{/if}}
                        {{/each}}


                </div>
            </div>

        </div>

    </div>
</div>



<div class="container">

    <div class="burgerForm">
        <h2> Add A Burger</h2>

        <form>
        <div class="form-group addBurger">

            <input type="text" class="form-control" id="newBurgerName" aria-describedby="newBurgerHelp" placeholder="">

        <button type="submit" class="btn btn-warning" class="addBurger" id="addButton">Submit</button>
        </div>
        </form>

    </div>
</div>

<script type="text/javascript">

$('.devourButton').on("click", function(event) {
  var id = $(this).data('id');

  var burgerEatin = $(this).data('devoured');

  console.log(burgerEatin);

  $.ajax('/api/burgers' + id, {
    type: 'PUT',
    data: burgerEatin
  }).then(
    function() {

      console.log('Burger has been devoured!');

      location.reload();

    });

});



$('.burgerForm').on('submit', function(event) {
  alert("button must be working");

  //prevent the page from reloading
  event.preventDefault();

alert("Add Button Working!")

  var newBurger = {
    burger_name: $('#newBurgerName').val().trim(),
    devoured: false
  }

  //send new burger to the DB through a POST request.

  $.ajax('/api/burgers', {
    type: 'POST',
    data: newBurger
  }).then(
    function(){
      console.log("Burger has been added!");

      //reload location to show updated table with new burgers.
      location.reload();
    });

});




</script>
